.logo {
    color: #ffffff;
}

.ui.centered.grid, .ui.centered.grid>.row, .ui.grid>.centered.row {
    padding: 20px 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child {
    color: #ffffff;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child {
    color: #ffffff;
}

.ui.menu:first-child {
    background-color: #4CAF50;
    color: #ffffff;
}

.ui.menu .item {
    background-color: #4CAF50;
    color: #000000;
}

.ui.form {
    display: inline-block;
    text-align: center;
    width: 100%;
    min-width: 250px;
}

.navbar-bg {
    background-color: #4CAF50;
}

.loginform {
    border-radius: 25px;
    padding: 20px;
    background-color: #4CAF50;
}

.body {
    font-family: monospace, 'Roboto', sans-serif;
    padding-top: 70px;
}

.container {
    width: 100%;
}

.nav-link {
    color: #ffffff;
    border-radius: 3px;
    margin: 0 4px;
}

.nav-link:hover {
    background-color: #ffffff;
    color: #4CAF50;
}

.auth {
    color: #ffffff;
}

.signup {
    border-style: dashed;
    border-width: 1px;
}

.auth:hover {
    color: #4CAF50;
}

.navbar-toggle {
    border-color: #ffffff;
}